@(blog: Blog)(user: Option[String])

@import views.html.helper._

<!DOCTYPE HTML>

<html>

<head>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
		<link rel="stylesheet" media="all" href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
	
	@layout(user) {
	} {
				<p class="blogHeading">@blog.title</p>
				<p>By <span class="author">@Users.nameById(blog.authorId)</span> at <span class="postDate">@{
					val d = blog.createdOn.split(' ')
					d(0) + " " + d(1) + " " + d(2) + ", " + d(5)
				}</p>
				<div>
					@(new Html(new StringBuilder(blog.content)))
				</div>
			
			<div class="marginTop">
				@form(routes.BlogCtrl.comment) {
					<textarea name="comment" id="commentInput"></textarea>
					<input name="blogId" type="hidden" value="@blog.id"/>
					<input name="submit" type="submit" value="Comment"/>
				}

			</div>

			<div id="comments" class="marginTop">

				@for(comment <- Comments.commentsForBlog(blog.id.get)) {
					<div class="comment">
						<p class="commenterName">@Users.nameById(comment.userId)</p>
						<p class="commentDate">@comment.dated</p>
						<p class="commentText">@comment.content</p>
					</div>
				}

			</div>
		}

	

</body>