@(blogs: List[Blog])(pageNum: Int)(user: Option[String])
@import views.html.helper._

<!DOCTYPE HTML>

<html>

<head>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>	
</head>

<body>

	@user.map(loggedInHeader(_)).getOrElse(header())

	<section id="blogSection">
		@for(blog <- blogs) {
			<div class="blog">
				<a href="/blog/@blog.id" class="blogHeading">@blog.title</a>
				<p class="author">Author: @Users.nameById(blog.authorId)</p>
				<p class="postDate">Posted On: @blog.createdOn</p>
				<span class="blogContent">@(new Html(new StringBuilder(blog.content)))</span>
			</div>
		}

		@if(pageNum != 1) {
			<a href="/Page/@pageNum-1">Previous</a>
		}
		
		@if(pageNum < Blogs.pageCount) {
			<a href="/Page/@pageNum+1">Next</a>
		}
		
	
	</section>

</body>
</html>