@import views.html.helper._

<!DOCTYPE HTML>

<html>
	
<head>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"></link>
</head>

<body>

@header()

<div id="registerDiv">		
	
	@form(action = routes.Application.register, args = 'method -> "POST") {
		<input id="name" type="text" name="name" placeholder="Username"/>
		<input id="email" type="email" name="email" placeholder="Email"/>
		<input id="pass" type="password" name="password" placeholder="Password"/>
		<input id="rePass" type="password" name="rePassword" placeholder="Retype Password"/>
		<input id="registerButton" type="submit" name="register" value="Register" />
	}

</div>

</body>
</html>